{%macro render_input(name, placeholder, type='text')%}

<div class="control-group">
    <label for="{{name}}" class="control-label">{{placeholder}}</label>
    <div class="controls">
        <input type="{{type}}" name="{{name}}" class="input-xlarge"
            placeholder="{{placeholcer}}">
    </div>
</div>

{%endmacro%}

<!-- Enviar varios componentes -->

{%macro render_firld(field)%}
    <div class="control-group">
        <div class="controls">
            {{field.label}}
            
            {{field(**kwargs)|safe}}
        </div>
    </div>

    {%if field.errors%}
        <ul>
            {%for error in field.errors%}
                <li style = "color: red">
                    {{error}}
                </li>
            {%endfor%}
        </ul>
    {%endif%}
{%endmacro%}

{%macro render_fiel(name, type, classes)%}
<input type = "{{type or 'text'}}" id="{{name}}" name="{{ name }}">
{%endmacro%}

{% macro table(ban1, ban2, ban3, tolerancia, valor, valorMin, valorMax) %}
<tr>
    <td class="{{ ban1 }}">{{ ban1 }}</td>
    <td class="{{ ban2 }}">{{ ban2 }}</td>
    <td class="{{ ban3 }}">{{ ban3 }}</td>
    <td>{{ tolerancia }}</td>
    <td>{{ valor }}</td>
    <td>{{ valorMin }}</td>
    <td>{{ valorMax }}</td>
</tr>
    
{% endmacro %}